In [ ]:
import pandas as pd

df=pd.read_csv(r"C:\Users\Dell\Downloads\Batsman_data.csv")


def selectbat(cname):
    d=df[df["Country"]==cname[0]]
    return pd.DataFrame(d["Batsman"].unique(),columns=["Batsman"])
    
def noi(fav):
    inn=list(fav["Bat1"])
    count=0
    for i in inn:
        if (i!="DNB") & (i!="TDNB"):
            count +=1
    print("\n\nNumber of Innings: ",count)

def tscore(fav):
    runs=list(fav["Runs"])
    sum=0
    for i in runs:
        if i!="-":
            sum=sum+int(i)
    print("\n\nTotal Run Scored: ",sum)


def batavg(fav):
    inn=list(fav["Bat1"])
    count=0
    for i in inn:
        if (i!="DNB") & (i!="TDNB") & ("*" not in i):
           count +=1

    
    runs=list(fav["Runs"])
    sum=0
    for i in runs:
        if i!="-":
            sum=sum+int(i)
    
    print("\n\nBatting Average: ",sum/count)

def nof(fav):
    f=list(fav["4s"])
    count=0
    for i in f:
        if i!="-":
           count +=1
    print("\n\nNumber of 4s: ",count)
    

def sof(fav):
    f=list(fav["6s"])
    count=0
    for i in f:
        if i!="-":
           count +=1
    print("\n\nNumber of 6s: ",count)

def srate(fav):
    runs=list(fav["Runs"])
    sum=0
    for i in runs:
        if i!="-":
            sum=sum+int(i)

    bf=list(fav["BF"])
    sum1=0
    for i in bf:
        if i!="-":
            sum1=sum1+int(i)

    print("\n\nStrike Rate: ",sum/sum1*100)
    
    
    



while True:
    print("\n\nWELCOME TO CRICKET WORLD CUP APPLICATION\n\n")
    print("Press any Number to Continue\n0 for Exit")
    pnum=int(input())

    if pnum==0:
        break
    
    
    f=pd.DataFrame(df["Country"].unique(),columns=["Countries"])
    display(f)
    while True:
        n=int(input("Enter your Favourite Cricket Team No."))
        if n in range(0,11):
            break
        else:
            print("Invalid Number")
    selbat=selectbat(list(f.iloc[n]))
    display(selbat)
    while True:
        n1=int(input("Enter your Favourite Batsman No.: "))
        if n1 in range(0,len(selbat)):
            break
        else:
            print("Invalid Number")
    fav_bat=df[df["Batsman"]==list(selbat.iloc[n1])[0]]

    noi(fav_bat)
    tscore(fav_bat)
    batavg(fav_bat)
    nof(fav_bat)
    sof(fav_bat)
    srate(fav_bat)

WELCOME TO CRICKET WORLD CUP APPLICATION


Press any Number to Continue
0 for Exit

 1

      Countries
0    WestIndies
1      SriLanka
2   SouthAfrica
3      Pakistan
4    NewZealand
5         India
6       England
7    Bangladesh
8     Australia
9    Austrailia
10  Afghanistan

Enter your Favourite Cricket Team No. 5

              Batsman
0      Mohammed Shami
1     Ravindra Jadeja
2       Hardik Pandya
3      Jasprit Bumrah
4   Bhuvneshwar Kumar
5       Kuldeep Yadav
6    Yuzvendra Chahal
7      Dinesh Karthik
8        Kedar Jadhav
9           MS Dhoni
10      Vijay Shankar
11        K. L. Rahul
12     Shikhar Dhawan
13      Rohit Sharma
14       Virat Kohli

Enter your Favourite Batsman No.:  2

Number of Innings:  29


Total Run Scored:  731


Batting Average:  29.24


Number of 4s:  29


Number of 6s:  29


Strike Rate:  116.58692185007975


WELCOME TO CRICKET WORLD CUP APPLICATION


Press any Number to Continue
0 for Exit